@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Asap', sans-serif;
}
.main-container{
    display: flex;
    height: 100vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.pay-heading{
    font-size: 3rem;
    color: #e40044;
}
.login-credentials{
    flex: 0.5;
    padding: 50px;
    margin-top: 15%;
}
.login-form-group{
    display: flex;
    flex-direction: column;
}
input{
    border: none;
    height: 60px;
    border-bottom: 1px solid #727272;
    outline: none;
    margin-bottom: 35px;
    font-family: 'Asap', sans-serif;
    border-bottom: 1px solid #e40044;
    font-size: 1.5rem;

}
input::placeholder{
    font-size: 1.5rem;
}
.illustration{
    flex: 1;
}
.login-button{
    background-color: #e40044;
    border:none;
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 30%;
    border-radius: 25px;
    font-family: 'Asap', sans-serif;

}
.illustration img{
    padding: 50px;
    margin-top: 0%;
    width: 50vw;
    height: 80vh;
}
.vertical-strip{
    background-color: #e40044;
    flex: 0.25;
}
.login-credentials a i{
    color: #e40044;
    font-size: 2rem;
}
#top-back{
    padding: 25px;
    color: #e40044;
    font-size: 2.5rem;
    display: none;
}
.login-button:hover{
    background-color: #fff;
    border: 1px solid #e40044;
    color: #e40044;
    cursor: pointer;
}
.illustration-mobile{
    display:  none;
    height: 10%;

}
.login-credentials a{
    color: #e40044;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 10px;
}
@media (max-width:1475px){
    .illustration img{
        padding: 50px;
        margin-top: 0%;
        width: 40vw;
    }
    .login-credentials{
        flex: 0.5;
        padding: 50px;
        margin-top: 20%;
    }
}
@media (max-width:1366px) and (max-height:625px){
    .illustration img{
        padding: 50px;
        margin-top: 0%;
        width: 40vw;
    }
    .login-credentials{
        flex: 0.5;
        padding: 50px;
        margin-top: 5%;
    }
    .login-credentials a{
        font-size: 1.5rem;
    }
    .login-credentials a i{
        font-size: 1.5rem;
    }
}
@media (max-width:1080px){
    .illustration img{
        padding: 50px;
        margin-top: 0%;
        width: 40vw;
    }
    .login-credentials{
        flex: 0.8;
        padding: 50px;
        margin-top: 15%;
    }
}
@media (max-width:950px){
    .vertical-strip{
        display: none;
    }
    .illustration img{
        padding: 30px;
        width: 50vw;
    }
    input::placeholder{
        font-size: 1.25rem;
    }
    .pay-heading{
        font-size: 2.5rem;
    }
}
@media (max-width:815px){
    .login-credentials{
        flex: 0.8;
        padding: 50px;
        margin-top: 30%;
    }
    .login-button{
        background-color: #e40044;
        border:none;
        color: #fff;
        padding: 15px;
        text-align: center;
        width: 50%;
        border-radius: 25px;
        font-family: 'Asap', sans-serif;
    
    }
}
@media (max-width:750px){
    .illustration img{
        width: 40vw;
    }
    .login-credentials{
        margin-top: 30%;
    }
} 
@media(max-width:650px){
    .main-container{
        flex-direction: column;
    }
    .illustration{
        display: none;
    }
    #top-back{
        padding: 10px;
        color: #e40044;
        font-size: 2rem;
    }
    body{
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('Assets/login-illustration.svg');
    }
}
@media (max-width:450px){
    .pay-heading{
        font-size: 1.75rem;
    }
    input{
        height: 40px;
        font-size: 1rem;
    }
    input::placeholder{
        font-size: 1rem;
    }
}